/outdata
/userdir
/indata
/slurm-logs
/output
/massblaster_plutof_rel

format-output-old.py
WID-MassBLASTer-ITS_260413.sh
massblaster.sif
massblaster_plutof.def
massblaster.def

run_massblaster_pipeline_progress.sh
submit_massblaster_progress.sh

LICENSE
